@charset "UTF-8";
@font-face {
  font-family: 'adobeHTStdRegular';
  src: url("../fonts/adobeHTStdRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
a {
  font-family: adobeHTStdRegular;
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: transparent;
  cursor: pointer;
}
li {
  list-style: none;
}
body {
  width: 100%;
  height: 100%;
  font-family: adobeHTStdRegular;
  overflow: hidden;
}
header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  right: 0;
  z-index: 9999;
}
header nav {
  width: 100%;
}
header nav .nav-top-wrap {
  display: none;
  background: #000000;
  opacity: 0.85;
  padding: 1.166667rem 0 0.3333rem;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
header nav .nav-top-wrap .nav-top-menu {
  overflow: hidden;
  margin-bottom: 0.2333rem;
}
header nav .nav-top-wrap .nav-top-menu li {
  display: inline-block;
  padding: 0.03333rem 0.766667rem 0.53333rem;
  position: relative;
  text-align: center;
  cursor: pointer;
}
header nav .nav-top-wrap .nav-top-menu li span {
  font-size: 0.66667rem;
  color: #ffffff;
}
header nav .nav-top-wrap .nav-top-menu li .row-line {
  position: absolute;
  width: 0.066667rem;
  height: 0.577778rem;
  background: #ffffff;
  transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  top: 25%;
  right: 0;
}
header nav .nav-top-wrap .nav-top-menu li .col-line {
  height: 0.133333rem;
  background: transparent;
  position: absolute;
  border-radius: 0.066667rem;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 2rem;
  left: 50%;
  bottom: 0;
}
header nav .nav-top-wrap .nav-top-menu li:first-of-type .col-line {
  background: #e2ba60;
}
header nav .nav-top-wrap .nav-top-menu li:hover a .col-line {
  background: #e2ba60;
}
header nav .nav-top-wrap .nav-top-fun {
  position: relative;
  overflow: hidden;
  margin: 0.3333rem 1.4rem 0 3.7666663rem;
}
header nav .nav-top-wrap .nav-top-fun .nav-top-search {
  display: inline-block;
  width: 0.83333rem;
  height: 0.833333rem;
}
header nav .nav-top-wrap .nav-top-fun .nav-top-search img {
  width: 100%;
}
header nav .nav-top-wrap .nav-top-fun .nav-user {
  margin-left: 1.8rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-top-user {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-top-user img {
  width: 100%;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .caret {
  vertical-align: inherit;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu {
  display: none;
  background: #000000;
  padding-top: 0.8rem;
  position: fixed;
  width: 4rem;
  z-index: 2;
  right: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu li {
  padding: 0.5rem 0.9rem;
  text-align: center;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu li:hover {
  background: #262626;
}
header nav .nav-down {
  display: inline-block;
  position: relative;
  width: 1.9333rem;
  height: 1.9333rem;
  left: 91%;
  top: 0;
}
header nav .nav-down img {
  width: 100%;
  transform: rotateZ(-90deg);
}
.col-line-bg {
  background: #e2ba60;
}
aside {
  width: 6rem;
  height: 100%;
  float: left;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #b5964e;
}
aside .nav-slide {
  padding: 0 0.2rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
aside .nav-slide .nav-slide-logo {
  overflow: hidden;
  text-align: center;
}
aside .nav-slide .nav-slide-logo a {
  display: inline-block;
  margin-top: 5.8rem;
  width: 3.433333rem;
  height: 3.33333rem;
}
aside .nav-slide .nav-slide-logo a img {
  width: 100%;
}
aside .nav-slide .nav-slide-logo .nav-slide-name {
  text-align: center;
  overflow: hidden;
}
aside .nav-slide .nav-slide-logo .nav-slide-name p {
  writing-mode: vertical-rl;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 0.66667rem;
  line-height: 1rem;
}
aside .nav-slide .nav-slide-logo .nav-slide-name p:nth-of-type(2) {
  font-size: 1rem;
}
aside .nav-slide .nav-slide-title {
  width: 4.6rem;
  height: 4.46666rem;
  margin-top: 2.7333rem;
  text-align: center;
  position: relative;
  padding-left: 0.4rem;
}
aside .nav-slide .nav-slide-title div {
  width: 3.866667rem;
  height: 4.466666rem;
  background: url("../img/asideNavBoreder.png") no-repeat;
  background-size: 100%;
  font-size: 0.66667rem;
  color: #6a2a07;
}
aside .nav-slide .nav-slide-title div p {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
}
.container-fluid {
  height: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0.66666rem 0 0 6rem;
}
.container-fluid .page-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list {
  width: 1000%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.container-fluid .page-wrap .page-list .page-item {
  width: 9.99%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-item div a {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-item div a p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.433333rem 0.83333rem;
  font-size: 0.66667rem;
  color: #ffffff;
}
.container-fluid .page-wrap .page-list .page-home {
  padding-left: 0.6rem;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shorts {
  width: 14.86667rem;
  min-height: 14.33333rem;
  height: 14.33333rem;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shorts img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-home .carousel {
  display: inline-block;
  min-width: 40.83333rem;
  width: 41rem;
  min-height: 14.33333rem;
  height: 14.33333rem;
  overflow: hidden;
  position: relative;
  margin-left: 0.66667rem;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-indicators {
  bottom: 0.6667rem;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-indicators li {
  width: 0.66667rem;
  height: 0.66667rem;
  background: #bfbfbf;
  margin-right: 1rem;
  border: 0 solid transparent;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-indicators .active {
  width: 0.66667rem;
  height: 0.66667rem;
  background-color: white;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-inner .item {
  width: 41rem;
  height: 14.33333rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-inner .item img {
  max-width: 130%;
  min-width: 130%;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-control {
  position: absolute;
  text-shadow: none;
  background: transparent;
  opacity: 1;
  width: 8%;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-control .carouselIcon {
  width: 1.93333rem;
  height: 1.93333rem;
  display: inline-block;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-left {
  background: url("../img/carouselIcon.png") no-repeat;
  left: 10%;
  transform: translateY(-10%, -45%);
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-right {
  background: url("../img/carouselIcon.png") no-repeat;
  transform: rotateY(180deg);
  right: 10%;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shop {
  width: 31.43333rem;
  min-height: 14.9rem;
  height: 14.9rem;
  margin-top: 0.6667rem;
  float: left;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shop img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy {
  width: 11.86666rem;
  min-height: 7rem;
  height: 7rem;
  margin: 0.6667rem 0 0 0.6667rem;
  background: #d6b977;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR p,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster p,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum p,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy p {
  padding-bottom: 0;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR img,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster img,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum img,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-offForum-content,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-offForum-content,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-offForum-content,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-offForum-content,
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-newDy-content,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-newDy-content,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-newDy-content,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-newDy-content {
  position: relative;
  top: 35%;
  padding: 0 1rem;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-offForum-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-offForum-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-offForum-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-offForum-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-newDy-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-newDy-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-newDy-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-newDy-content li {
  overflow: hidden;
  position: relative;
  margin-top: 0.2rem;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-offForum-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-offForum-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-offForum-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-offForum-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-newDy-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-newDy-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-newDy-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-newDy-content li span {
  color: #ffffff;
  font-size: 0.4666667rem;
  float: left;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-offForum-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-offForum-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-offForum-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-offForum-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-LR .page-home-newDy-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster .page-home-newDy-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-offForum .page-home-newDy-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-newDy .page-home-newDy-content li span:nth-of-type(2) {
  float: right;
  max-width: 30%;
}
.container-fluid .page-wrap .page-list .page-shorts {
  text-align: center;
  position: relative;
}
.container-fluid .page-wrap .page-list .page-shorts .page-short-top {
  width: 56.2rem;
  min-height: 13.33333rem;
  height: 13.33333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-shorts .page-short-top img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list {
  display: none;
  overflow: hidden;
  margin: 0 auto;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-top: 1.4666rem;
  margin-right: 2rem;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-top {
  margin: 0 auto 0.5333rem;
  width: 3.3333rem;
  height: 3.3333rem;
  display: block;
  vertical-align: top;
  background: url("../img/page-short-item-off.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-info span {
  font-size: 0.46667rem;
  color: #000000;
  margin-bottom: 0.6rem;
  display: block;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-info a {
  width: 5rem;
  height: 9.73333rem;
  display: inline-block;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-info a img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:nth-of-type(2n) {
  margin-top: 0.86666rem;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:hover .page-shorts-item-top {
  background: url("../img/page-short-item-on.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:hover a span {
  color: #e2ba60;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:hover {
  transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav {
  margin: 0 auto;
  background: #eeeeee;
  padding: 0.3rem 0 0;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav li {
  display: inline-block;
  margin-right: 5.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid transparent;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav li:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav li:hover {
  cursor: pointer;
  color: #e2ba60;
  border-bottom: 0.1rem solid #e2ba60;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all {
  width: 100%;
  padding: 0.5rem 9rem;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all li:nth-of-type(5n) {
  margin-right: 0;
  color: red;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all li p {
  font-size: 0.4666rem;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0.4rem;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all .page-shorts-sub-list-item {
  width: 6.666rem;
  height: 6rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all .page-shorts-sub-list-item img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-ns-store {
  padding-left: 1rem;
  background: url("../img/ns-bg.png");
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-title {
  font-size: 0.73333rem;
  color: #b5964e;
  border-bottom: 0.1rem solid #b5964e;
  padding-bottom: 0.1rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-head-line {
  border-bottom: 0.06666rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place {
  margin: 0.5333rem 0 0.4rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place .page-ns-head-home {
  width: 0.53333rem;
  height: 0.53333rem;
  display: inline-block;
  background: url("../img/page-consultation-head-home.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  margin-right: 0.1666rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place span {
  font-size: 0.46666rem;
  color: #888888;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place .page-place-home:hover,
.container-fluid .page-wrap .page-list .page-ns-store .page-place .page-place-ns:hover {
  border-bottom: 0.03rem solid #000000;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place:hover {
  text-decoration: none;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item {
  padding-right: 4rem;
  background: #f1f1f1;
  margin-bottom: 0.6rem;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item:last-of-type {
  margin-bottom: 0;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-img {
  display: inline-block;
  width: 12.6667rem;
  height: 5.5rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-item-content {
  width: 34rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 1.46667rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-item-content .page-ns-item-title {
  font-size: 0.63333rem;
  color: #333333;
  margin: 1.8rem 0 0.5rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-item-content .page-ns-item-info {
  font-size: 0.43333rem;
  color: #777777;
  margin-bottom: 1.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-detail {
  margin: 1rem 0 0 1rem;
  vertical-align: top;
  display: inline-block;
  color: #000000;
  padding: 0;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-detail:hover {
  color: #b5964e;
  text-decoration: inherit;
}
.container-fluid .page-wrap .page-list .page-carve-master {
  padding-left: 0.5rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-top {
  width: 56.2rem;
  min-height: 15.33333rem;
  height: 15.33333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-top img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content {
  background: url("../img/carve-master-bg.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content .page-carve-master-title {
  font-size: 1.0333rem;
  color: #e2ba60;
  text-align: center;
  margin: 0.7rem 0 1.46666rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve {
  width: 51.426666rem;
  height: 13.53333rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner {
  margin: 0 3.333rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item {
  width: 44.866666rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .carve-master-carousel-bg {
  width: 44.866666rem;
  height: 13.53333rem;
  overflow: hidden;
  background: url("../img/carve-border.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .carve-master-user-img {
  width: 9.333rem;
  height: 9.333rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .carve-master-user-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item a {
  display: inline-block;
  width: 22.433333rem;
  height: 10.73333rem;
  min-height: 10.73333rem;
  overflow: hidden;
  float: left;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item a img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .page-carve-master-info {
  width: 22.433333rem;
  height: 13.53333rem;
  padding: 3rem 1.8333rem 4.1333rem 4.1333rem;
  display: inline-block;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .page-carve-master-info .page-carve-master-name {
  display: inline-block;
  font-size: 0.7rem;
  color: #e2ba60;
  margin-bottom: 0.3333rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .page-carve-master-info .page-carve-master-introduce {
  word-break: break-all;
  font-size: 0.43333rem;
  color: #222222;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 0.875rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control {
  width: 3.3333rem;
  height: 13.53333rem;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  background: white;
  z-index: 4;
  opacity: 1;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .left {
  left: 0;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .right {
  right: 0;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control span {
  width: 0.86667rem;
  height: 1.6rem;
  position: absolute;
  background: url("../img/carve-master-carousel-Icon.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .carve-master-carousel-left {
  right: 30%;
  top: 40%;
  transform: translate(-40%, -30%);
  -ms-transform: translate(-40%, -30%);
  -moz-transform: translate(-40%, -30%);
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .carve-master-carousel-right {
  left: 30%;
  top: 40%;
  transform: rotateY(180deg) translate(-30%, -40%);
  -moz-transform: rotateY(180deg) translate(-30%, -40%);
  -ms-transform: rotateY(180deg) translate(-30%, -40%);
  -o-transform: rotateY(180deg) translate(-30%, -40%);
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control:hover {
  background: white;
  opacity: 1;
}
.container-fluid .page-wrap .page-list .page-off-forum {
  padding-left: 0.5rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-title {
  font-size: 0.73333rem;
  color: #b5964e;
  border-bottom: 0.1rem solid #b5964e;
  padding-bottom: 0.1rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-head-line {
  border-bottom: 0.06666rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-place {
  margin: 0.5333rem 0 0.4rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-place .page-forum-head-home {
  width: 0.53333rem;
  height: 0.53333rem;
  display: inline-block;
  background: url("../img/page-consultation-head-home.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  margin-right: 0.1666rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-place span {
  font-size: 0.46666rem;
  color: #888888;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-place .page-place-home:hover,
.container-fluid .page-wrap .page-list .page-off-forum .page-place .page-place-forum:hover {
  border-bottom: 0.03rem solid #000000;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-place:hover {
  text-decoration: none;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list {
  display: inline-block;
  width: 40rem;
  overflow: hidden;
  float: left;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item {
  padding-bottom: 2.5rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item:first-of-type {
  border-bottom: 0.033rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-head {
  font-size: 0.666rem;
  color: #222222;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-info {
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 0.875rem;
  font-size: 0.53333rem;
  color: #444444;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-img {
  overflow: hidden;
  white-space: nowrap;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-img li {
  width: 12.333rem;
  height: 6.43333rem;
  margin-right: 1.3rem;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-img li:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-img li img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-fun {
  overflow: hidden;
  margin-top: 1.2rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-fun .page-forum-item-laud {
  width: 0.9333rem;
  height: 0.9333rem;
  overflow: hidden;
  display: inline-block;
  background: url("../img/page-forum-laud.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  margin-right: 1rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-list .page-forum-item-fun .page-forum-item-news {
  width: 0.9333rem;
  height: 0.9333rem;
  overflow: hidden;
  display: inline-block;
  background: url("../img/page-forum-news.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-right {
  width: 12.3rem;
  overflow: hidden;
  margin-left: 3rem;
  clear: both;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-right .page-forum-right-title {
  font-size: 0.6666rem;
  color: #222222;
  border-bottom: 0.033rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-right .page-forum-right-title p {
  padding-right: 1rem;
  display: inline-block;
  border-bottom: 0.1rem solid #b5964e;
  padding-bottom: 0.2rem;
  margin-bottom: 0;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-right .page-forum-right-list {
  margin-top: 0.5rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-right .page-forum-right-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 8.7666rem;
  margin-bottom: 0.2rem;
}
.container-fluid .page-wrap .page-list .page-off-forum .page-forum-right .page-forum-right-item a:hover {
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content {
  padding-left: 0.5rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-title {
  font-size: 0.73333rem;
  color: #b5964e;
  border-bottom: 0.1rem solid #b5964e;
  padding-bottom: 0.1rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-head-line {
  border-bottom: 0.06666rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place {
  margin: 0.5333rem 0 0.8rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place .page-consultation-head-home {
  width: 0.53333rem;
  height: 0.53333rem;
  display: inline-block;
  background: url("../img/page-consultation-head-home.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  margin-right: 0.1666rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place span {
  font-size: 0.46666rem;
  color: #888888;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place .page-place-home:hover,
.container-fluid .page-wrap .page-list .page-consultation-content .page-place .page-place-consultation:hover {
  border-bottom: 0.03rem solid #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place:hover {
  text-decoration: none;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-img {
  width: 23.2666rem;
  height: 11.7rem;
  display: inline-block;
  margin-right: 1.4666rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info {
  vertical-align: top;
  display: inline-block;
  padding: 0.8rem 0 0;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-title {
  font-size: 1rem;
  color: #222222;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-hint {
  font-size: 0.53333rem;
  color: #979696;
  padding-bottom: 0.7rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-content {
  width: 30rem;
  height: 5.5rem;
  line-height: 0.8rem;
  font-size: 0.5333rem;
  color: #979696;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-detail {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #c8c7c7;
  border-radius: 5%;
  vertical-align: bottom;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-detail:hover {
  color: white;
  text-decoration: none;
  background: #b5964e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item {
  display: inline-block;
  width: 13.7rem;
  padding: 0.6rem 0.73333rem 0;
  margin: 0.3rem 0.2rem 0 0;
  overflow: hidden;
  background: #f5f5f5;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-title {
  font-size: 0.6666rem;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-time {
  font-size: 0.6666rem;
  color: #999999;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-img {
  width: 12.2rem;
  height: 9rem;
  min-height: 8rem;
  overflow: hidden;
  margin-right: 1.8rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-info {
  margin-top: 0.3rem;
  font-size: 0.5333rem;
  color: #999999;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover {
  background: #b5964e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover .page-consultation-item-title {
  color: white;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover .page-consultation-item-time {
  color: #cbb78e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover .page-consultation-item-info {
  color: white;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-about-our {
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-top {
  width: 56.2rem;
  min-height: 13.33333rem;
  height: 13.33333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-top img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-right {
  position: relative;
  display: inline-block;
  width: 20.83333rem;
  height: 12.3666rem;
  min-height: 12.33333rem;
  overflow: hidden;
  background: url("../img/page-about-our-bottom.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-wrap {
  padding: 1.2rem 2.8rem 0 2.1333rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-wrap p {
  margin-bottom: 0.3rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-info {
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-title-all {
  font-size: 0.6666rem;
  color: #b5964e;
  margin-bottom: 0.36666rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-title {
  width: 27.1333rem;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0.66666rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-title p:nth-of-type(2) {
  font-size: 0.5rem;
  color: #2d2d2c;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-course-list {
  width: 27.1333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-course-item {
  font-size: 0.5rem;
  color: #2d2d2c;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-connection-item {
  overflow: hidden;
  font-size: 0.5rem;
  color: #2d2d2c;
  display: inline-block;
  margin-right: 6.6rem;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-connection-item:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-connection-item p:first-of-type {
  font-size: 0.53333rem;
  color: #222222;
  font-weight: bold;
}
.page-shorts-zhe {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.7;
  z-index: 10;
}
.page-shorts-sub-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  padding: 2.4666rem 0 3rem 1.5rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-head {
  font-size: 0.5333rem;
  color: #c4c4c4;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-head .page-shorts-sub-dialog-title {
  color: #ffffff;
  font-size: 0.8rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-head .page-shorts-sub-dialog-time {
  margin-right: 2rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-img {
  width: 16.6rem;
  height: 12.4rem;
  overflow: hidden;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-img img {
  width: 100%;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-area,
.page-shorts-sub-dialog .page-shorts-sub-dialog-info {
  color: #c4c4c4;
  font-size: 0.5333rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-area {
  margin: 0 auto;
  text-align: center;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-area p {
  display: inline-block;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-info {
  line-height: 0.8rem;
}
.page-shorts-sub-dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  z-index: 12;
}
.page-shorts-sub-dialog-close img {
  width: 100%;
}
