@charset "UTF-8";
@font-face {
  font-family: 'adobeHTStdRegular';
  src: url("../fonts/adobeHTStdRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hyChengXingJ';
  src: url("../fonts/HYChengXingJ.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hyShangWeiShouShuW';
  src: url("../fonts/HYShangWeiShouShuW.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
a {
  font-family: adobeHTStdRegular;
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: transparent;
  cursor: pointer;
}
li {
  list-style: none;
}
body {
  width: 100%;
  height: 100%;
  font-family: adobeHTStdRegular;
  overflow: hidden;
}
header {
  display: none;
  width: 100%;
  position: fixed;
  overflow: hidden;
  right: 0;
  z-index: 9999;
}
header nav {
  width: 100%;
}
header nav .nav-top-wrap {
  display: none;
  background: #000000;
  opacity: 0.85;
  padding: 1.166667rem 0 0.3333rem;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}
header nav .nav-top-wrap .nav-top-menu {
  overflow: hidden;
  margin-bottom: 0.2333rem;
}
header nav .nav-top-wrap .nav-top-menu li {
  display: inline-block;
  padding: 0.03333rem 0.766667rem 0.53333rem;
  position: relative;
  text-align: center;
  cursor: pointer;
}
header nav .nav-top-wrap .nav-top-menu li span {
  font-size: 0.66667rem;
  color: #ffffff;
}
header nav .nav-top-wrap .nav-top-menu li .row-line {
  position: absolute;
  width: 0.066667rem;
  height: 0.577778rem;
  background: #ffffff;
  transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  top: 25%;
  right: 0;
}
header nav .nav-top-wrap .nav-top-menu li .col-line {
  height: 0.133333rem;
  background: transparent;
  position: absolute;
  border-radius: 0.066667rem;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 2rem;
  left: 50%;
  bottom: 0;
}
header nav .nav-top-wrap .nav-top-menu li:first-of-type .col-line {
  background: #e2ba60;
}
header nav .nav-top-wrap .nav-top-menu li:hover a .col-line {
  background: #e2ba60;
}
header nav .nav-top-wrap .nav-top-fun {
  position: relative;
  overflow: hidden;
  margin: 0.3333rem 1.4rem 0 3.7666663rem;
}
header nav .nav-top-wrap .nav-top-fun .nav-top-search {
  display: inline-block;
  width: 0.83333rem;
  height: 0.833333rem;
}
header nav .nav-top-wrap .nav-top-fun .nav-top-search img {
  width: 100%;
}
header nav .nav-top-wrap .nav-top-fun .nav-user {
  margin-left: 1.8rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-top-user {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-top-user img {
  width: 100%;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .caret {
  vertical-align: inherit;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu {
  display: none;
  background: #000000;
  padding-top: 0.8rem;
  position: fixed;
  width: 4rem;
  z-index: 2;
  right: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu li {
  text-align: center;
  cursor: pointer;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu li a {
  padding: 0.5rem 0.9rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
header nav .nav-top-wrap .nav-top-fun .nav-user .nav-user-menu li:hover {
  background: #262626;
}
header nav .nav-down {
  display: inline-block;
  position: relative;
  width: 1.9333rem;
  height: 1.9333rem;
  left: 91%;
  top: 0;
}
header nav .nav-down img {
  width: 100%;
  transform: rotateZ(-90deg);
}
.col-line-bg {
  background: #e2ba60;
}
aside {
  display: none;
  width: 6rem;
  height: 100%;
  float: left;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #b5964e;
}
aside .nav-slide {
  padding: 0 0.2rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
aside .nav-slide .nav-slide-logo {
  overflow: hidden;
  text-align: center;
}
aside .nav-slide .nav-slide-logo .nav-slide-logo-img {
  display: inline-block;
  margin-top: 5.8rem;
  width: 3.433333rem;
  height: 3.33333rem;
  cursor: pointer;
  overflow: hidden;
}
aside .nav-slide .nav-slide-logo .nav-slide-logo-img img {
  width: 100%;
}
aside .nav-slide .nav-slide-logo .nav-slide-name {
  text-align: center;
  overflow: hidden;
}
aside .nav-slide .nav-slide-logo .nav-slide-name p {
  writing-mode: vertical-rl;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 0.66667rem;
  line-height: 1rem;
}
aside .nav-slide .nav-slide-logo .nav-slide-name p:nth-of-type(2) {
  font-size: 1rem;
}
aside .nav-slide .nav-slide-title {
  width: 4.6rem;
  height: 4.46666rem;
  margin-top: 2.7333rem;
  text-align: center;
  position: relative;
  padding-left: 0.4rem;
}
aside .nav-slide .nav-slide-title div {
  width: 3.866667rem;
  height: 4.466666rem;
  background: url("../img/asideNavBoreder.png") no-repeat;
  background-size: 100%;
  font-size: 0.66667rem;
  color: #6a2a07;
}
aside .nav-slide .nav-slide-title div p {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
}
.container-fluid {
  display: none;
  height: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0.66666rem 0 0 6rem;
}
.container-fluid .page-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list {
  width: 1000%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.container-fluid .page-wrap .page-list .page-item {
  width: 9.99%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  padding-left: 0.6rem;
}
.container-fluid .page-wrap .page-list .page-item div a {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-item div a p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.433333rem 0.83333rem;
  font-size: 0.66667rem;
  color: #ffffff;
}
.container-fluid .page-wrap .page-list .page-home .page-home-top {
  white-space: nowrap;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shorts {
  width: 14.86667rem;
  min-height: 14.33333rem;
  height: 14.33333rem;
  float: left;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shorts img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-home .carousel {
  display: inline-block;
  min-width: 40.83333rem;
  width: 41rem;
  min-height: 14.33333rem;
  height: 14.33333rem;
  overflow: hidden;
  position: relative;
  margin-left: 0.66667rem;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-indicators {
  bottom: 0.6667rem;
  z-index: 4;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-indicators li {
  width: 0.66667rem;
  height: 0.66667rem;
  background: #bfbfbf;
  margin-right: 1rem;
  border: 0 solid transparent;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-indicators .active {
  width: 0.66667rem;
  height: 0.66667rem;
  background-color: white;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-inner .item {
  width: 41rem;
  height: 14.33333rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-inner .item img {
  max-width: 130%;
  min-width: 130%;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -moz-transform: translate(-100%, -100%);
  -o-transform: translate(-100%, -100%);
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-control {
  position: absolute;
  text-shadow: none;
  background: transparent;
  opacity: 1;
  width: 8%;
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-control .carouselIcon {
  width: 1.93333rem;
  height: 1.93333rem;
  display: inline-block;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-left {
  background: url("../img/carouselIcon.png") no-repeat;
  left: 10%;
  transform: translateY(-10%, -45%);
}
.container-fluid .page-wrap .page-list .page-home .carousel .carousel-right {
  background: url("../img/carouselIcon.png") no-repeat;
  transform: rotateY(180deg);
  right: 10%;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shop {
  width: 31.43333rem;
  min-height: 14.9rem;
  height: 14.9rem;
  margin-top: 0.6667rem;
  float: left;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-home .page-home-shop img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy {
  width: 11.86666rem;
  min-height: 7rem;
  height: 7rem;
  margin: 0.6667rem 0 0 0.6667rem;
  background: #d6b977;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR p,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster p,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum p,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy p {
  padding-bottom: 0;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR img,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster img,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum img,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-home .page-home-LR:hover,
.container-fluid .page-wrap .page-list .page-home .page-home-carveMaster:hover,
.container-fluid .page-wrap .page-list .page-home .page-home-offForum:hover,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy:hover {
  background: #a38642;
}
.container-fluid .page-wrap .page-list .page-home .page-home-offForum-content,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy-content {
  position: relative;
  top: 35%;
  padding: 0 1rem;
}
.container-fluid .page-wrap .page-list .page-home .page-home-offForum-content li,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy-content li {
  overflow: hidden;
  position: relative;
  margin-top: 0.2rem;
}
.container-fluid .page-wrap .page-list .page-home .page-home-offForum-content li span,
.container-fluid .page-wrap .page-list .page-home .page-home-newDy-content li span {
  color: #ffffff;
  font-size: 0.4666667rem;
  float: left;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container-fluid .page-wrap .page-list .page-home .page-home-offForum-content li span:nth-of-type(2),
.container-fluid .page-wrap .page-list .page-home .page-home-newDy-content li span:nth-of-type(2) {
  float: right;
  max-width: 30%;
}
.container-fluid .page-wrap .page-list .page-shorts {
  text-align: center;
  position: relative;
}
.container-fluid .page-wrap .page-list .page-shorts .carousel-shorts {
  position: relative;
  width: 56.2rem;
  min-height: 13.33333rem;
  height: 13.33333rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-shorts .page-short-top {
  width: 56.2rem;
  min-height: 13.33333rem;
  height: 13.33333rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-shorts .page-short-top img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list {
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-top: 1.4666rem;
  margin-right: 2rem;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-top {
  margin: 0 auto 0.5333rem;
  width: 3.3333rem;
  height: 3.3333rem;
  display: block;
  vertical-align: top;
  background: url("../img/page-short-item-off.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-info span {
  font-size: 0.46667rem;
  color: #000000;
  margin-bottom: 0.6rem;
  display: block;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-info a {
  width: 5rem;
  height: 9.73333rem;
  display: inline-block;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li .page-shorts-item-info a img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:nth-of-type(2n) {
  margin-top: 0.86666rem;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:hover .page-shorts-item-top {
  background: url("../img/page-short-item-on.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:hover a span {
  color: #e2ba60;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-list li:hover {
  transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub {
  display: none;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav {
  width: 56.2rem;
  background: #eeeeee;
  padding: 0.3rem 0 0;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav li {
  display: inline-block;
  margin-right: 5.5rem;
  padding: 0 0.3rem 0.3rem;
  border-bottom: 0.1rem solid transparent;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav li:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-nav li:hover {
  cursor: pointer;
  color: #e2ba60;
  border-bottom: 0.1rem solid #e2ba60;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all {
  width: 100%;
  padding: 0.5rem 9rem 0.5rem 8rem;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all li:nth-of-type(5n) {
  margin-right: 0;
  color: red;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all li p {
  font-size: 0.4666rem;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0.4rem;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all .page-shorts-sub-list-item {
  width: 6.666rem;
  height: 6rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-shorts .page-shorts-sub .page-shorts-sub-list-all .page-shorts-sub-list-item img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-ns-store {
  background: url("../img/ns-bg.png");
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-title {
  font-size: 0.73333rem;
  color: #b5964e;
  border-bottom: 0.1rem solid #b5964e;
  padding-bottom: 0.1rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-head-line {
  border-bottom: 0.06666rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place {
  margin: 0.5333rem 0 0.4rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place .page-ns-head-home {
  width: 0.53333rem;
  height: 0.53333rem;
  display: inline-block;
  background: url("../img/page-consultation-head-home.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  margin-right: 0.1666rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place span {
  font-size: 0.46666rem;
  color: #888888;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place .page-place-home:hover,
.container-fluid .page-wrap .page-list .page-ns-store .page-place .page-place-ns:hover {
  border-bottom: 0.03rem solid #000000;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-place:hover {
  text-decoration: none;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item {
  padding-right: 4rem;
  background: #f1f1f1;
  margin-bottom: 0.6rem;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item:last-of-type {
  margin-bottom: 0;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-img {
  display: inline-block;
  width: 12.6667rem;
  height: 5.5rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-item-content {
  width: 34rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 1.46667rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-item-content .page-ns-item-title {
  font-size: 0.63333rem;
  color: #333333;
  margin: 1.8rem 0 0.5rem;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-item-content .page-ns-item-info {
  font-size: 0.43333rem;
  color: #777777;
  margin-bottom: 1.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-detail {
  margin: 1rem 0 0 1rem;
  vertical-align: top;
  display: inline-block;
  color: #000000;
  padding: 0;
}
.container-fluid .page-wrap .page-list .page-ns-store .page-ns-list .page-ns-item .page-ns-detail:hover {
  color: #b5964e;
  text-decoration: inherit;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-top {
  width: 56.2rem;
  min-height: 15.33333rem;
  height: 15.33333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-top img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content {
  background: url("../img/carve-master-bg.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content .page-carve-master-title {
  font-size: 1.0333rem;
  color: #e2ba60;
  text-align: center;
  margin: 0.7rem 0 1.46666rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve {
  width: 51.426666rem;
  height: 13.53333rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner {
  margin: 0 3.333rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item {
  width: 44.866666rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .carve-master-carousel-bg {
  width: 44.866666rem;
  height: 13.53333rem;
  overflow: hidden;
  background: url("../img/carve-border.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .carve-master-user-img {
  width: 9.333rem;
  height: 9.333rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .carve-master-user-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item a {
  display: inline-block;
  width: 22.433333rem;
  height: 10.73333rem;
  min-height: 10.73333rem;
  overflow: hidden;
  float: left;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item a img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .page-carve-master-info {
  width: 22.433333rem;
  height: 13.53333rem;
  padding: 3rem 1.8333rem 4.1333rem 4.1333rem;
  display: inline-block;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .page-carve-master-info .page-carve-master-name {
  display: inline-block;
  font-size: 0.7rem;
  color: #e2ba60;
  margin-bottom: 0.3333rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-inner .item .page-carve-master-info .page-carve-master-introduce {
  word-break: break-all;
  font-size: 0.43333rem;
  color: #222222;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 0.875rem;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control {
  width: 3.3333rem;
  height: 13.53333rem;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  background: white;
  z-index: 4;
  opacity: 1;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .left {
  left: 0;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .right {
  right: 0;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control span {
  width: 0.86667rem;
  height: 1.6rem;
  position: absolute;
  background: url("../img/carve-master-carousel-Icon.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .carve-master-carousel-left {
  right: 30%;
  top: 40%;
  transform: translate(-40%, -30%);
  -ms-transform: translate(-40%, -30%);
  -moz-transform: translate(-40%, -30%);
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control .carve-master-carousel-right {
  left: 30%;
  top: 40%;
  transform: rotateY(180deg) translate(-30%, -40%);
  -moz-transform: rotateY(180deg) translate(-30%, -40%);
  -ms-transform: rotateY(180deg) translate(-30%, -40%);
  -o-transform: rotateY(180deg) translate(-30%, -40%);
}
.container-fluid .page-wrap .page-list .page-carve-master .page-carve-master-content #carousel-example-generic-carve .carousel-control:hover {
  background: white;
  opacity: 1;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-title {
  font-size: 0.73333rem;
  color: #b5964e;
  border-bottom: 0.1rem solid #b5964e;
  padding-bottom: 0.1rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-head-line {
  border-bottom: 0.06666rem solid #eeeeee;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place {
  margin: 0.5333rem 0 0.8rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place .page-consultation-head-home {
  width: 0.53333rem;
  height: 0.53333rem;
  display: inline-block;
  background: url("../img/page-consultation-head-home.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  margin-right: 0.1666rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place span {
  font-size: 0.46666rem;
  color: #888888;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place .page-place-home:hover,
.container-fluid .page-wrap .page-list .page-consultation-content .page-place .page-place-consultation:hover {
  border-bottom: 0.03rem solid #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-place:hover {
  text-decoration: none;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice {
  display: block;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-img {
  width: 23.2666rem;
  height: 11.7rem;
  display: inline-block;
  margin-right: 1.4666rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info {
  vertical-align: top;
  display: inline-block;
  padding: 0.8rem 0 0;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-title {
  font-size: 1rem;
  color: #222222;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-hint {
  font-size: 0.53333rem;
  color: #979696;
  padding-bottom: 0.7rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-content {
  width: 30rem;
  height: 5.5rem;
  line-height: 0.8rem;
  overflow: hidden;
  font-size: 0.5333rem;
  color: #979696;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-detail {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #c8c7c7;
  border-radius: 5%;
  vertical-align: bottom;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-notice .page-consultation-notice-info .page-consultation-notice-detail:hover {
  color: white;
  text-decoration: none;
  background: #b5964e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list {
  display: block;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item {
  display: inline-block;
  width: 13.7rem;
  padding: 0.6rem 0.73333rem 0;
  margin: 0.3rem 0.2rem 0 0;
  overflow: hidden;
  background: #f5f5f5;
  cursor: pointer;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-title {
  font-size: 0.6666rem;
  color: #000000;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-time {
  font-size: 0.6666rem;
  color: #999999;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-img {
  width: 12.2rem;
  height: 9rem;
  min-height: 8rem;
  overflow: hidden;
  margin-right: 1.8rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item .page-consultation-item-info {
  margin-top: 0.3rem;
  font-size: 0.5333rem;
  color: #999999;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover {
  background: #b5964e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover .page-consultation-item-title {
  color: white;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover .page-consultation-item-time {
  color: #cbb78e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:hover .page-consultation-item-info {
  color: white;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-list .page-consultation-item:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail {
  display: none;
  height: 100%;
  position: relative;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-row-line {
  height: 100%;
  border-left: 0.0333rem solid #eeeeee;
  position: absolute;
  left: 66%;
  top: -5%;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub {
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content {
  width: 38.5rem;
  float: left;
  overflow: hidden;
  padding: 0 1rem 0.46666rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-title {
  font-size: 0.666rem;
  color: #222222;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-time {
  font-size: 0.4666rem;
  color: #888888;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-info {
  color: #666666;
  font-size: 0.53333rem;
  margin: 0.666rem 0;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-img {
  display: inline-block;
  width: 12.26666rem;
  height: 9.6rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-img img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-laud {
  width: 3.333rem;
  height: 3.333rem;
  overflow: hidden;
  background: #f1dfb4;
  text-align: center;
  margin: 1rem auto 0;
  border-radius: 100%;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-laud a {
  margin: 0.8rem auto 0;
  width: 0.933rem;
  height: 0.933rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-laud a img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-content .page-consultation-sub-laud .page-consultation-sub-laud-num {
  font-size: 0.5333rem;
  color: #b5964e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right {
  padding: 0.2rem 2.5rem 0.2rem 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-head {
  font-size: 0.6666rem;
  color: #222222;
  font-weight: bold;
  border-bottom: 0.0666rem solid #eeeeee;
  padding-bottom: 0.25rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-head span {
  padding-bottom: 0.4rem;
  border-bottom: 0.1rem solid #b5964e;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-list {
  margin-top: 1rem;
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-list .page-consultation-sub-right-item {
  font-size: 0.5333rem;
  color: #666666;
  margin-bottom: 0.333rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-list .page-consultation-sub-right-item:last-of-type {
  margin-bottom: 0;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-list .page-consultation-sub-right-item a {
  width: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-list .page-consultation-sub-right-item a:hover {
  color: #666666;
  text-decoration: inherit;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-right .page-consultation-sub-right-list .page-consultation-sub-right-item span {
  display: inline-block;
  margin-left: 2rem;
  float: right;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-footer {
  width: 36.5rem;
  border-top: 0.0333rem solid #eeeeee;
  padding-top: 0.53333rem;
  overflow: hidden;
  position: relative;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-footer .page-consultation-sub-page a {
  display: block;
  margin-top: 0.666rem;
  font-size: 0.5333rem;
  color: #666666;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-footer .page-consultation-sub-page a span {
  font-size: 0.6rem;
  font-weight: bold;
  color: #222222;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-footer .page-consultation-sub-nextIcon {
  width: 1.7333rem;
  height: 1.7333rem;
  overflow: hidden;
  position: absolute;
  top: 1.5rem;
  right: 0.7rem;
}
.container-fluid .page-wrap .page-list .page-consultation-content .page-consultation-sub-detail .page-consultation-sub-footer .page-consultation-sub-nextIcon img {
  width: 100%;
}
.container-fluid .page-wrap .page-list .page-about-our {
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-top {
  width: 56.2rem;
  min-height: 13.33333rem;
  height: 13.33333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-top img {
  width: 100%;
  height: 100%;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-right {
  position: relative;
  display: inline-block;
  width: 18.83333rem;
  height: 10.3666rem;
  min-height: 10.33333rem;
  overflow: hidden;
  background: url("../img/page-about-our-bottom.png") no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-wrap {
  padding: 0.6rem 2.8rem 0 1.1333rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-wrap p {
  margin-bottom: 0.3rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-info {
  overflow: hidden;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-title-all {
  font-size: 0.6666rem;
  color: #b5964e;
  margin-bottom: 0.36666rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-title {
  width: 27.1333rem;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0.36666rem;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-title p:nth-of-type(2) {
  font-size: 0.5rem;
  color: #2d2d2c;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-course-list {
  width: 27.1333rem;
  overflow: hidden;
  display: inline-block;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-course-item {
  font-size: 0.5rem;
  color: #2d2d2c;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-connection-item {
  overflow: hidden;
  font-size: 0.5rem;
  color: #2d2d2c;
  display: inline-block;
  margin-right: 6.6rem;
  vertical-align: top;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-connection-item:last-of-type {
  margin-right: 0;
}
.container-fluid .page-wrap .page-list .page-about-our .page-about-our-connection-item p:first-of-type {
  font-size: 0.53333rem;
  color: #222222;
  font-weight: bold;
}
footer {
  display: none;
}
footer .footer-zhe {
  display: none;
  width: 100%;
  height: 7rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.5;
  z-index: 10000;
}
footer .footer-content {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 60%;
  z-index: 10001;
  padding: 2rem 2rem 0.5rem;
  color: #ffffff;
  font-size: 0.5333rem;
  margin: 0 auto;
}
footer .footer-content .footer-content-info {
  width: 100%;
  overflow: hidden;
}
footer .footer-content .footer-content-info .footer-content-info-l {
  float: left;
}
footer .footer-content .footer-content-info .footer-content-info-l p {
  margin-bottom: 0.5rem;
}
footer .footer-content .footer-content-info .footer-content-info-r {
  display: inline-block;
  float: right;
  overflow: hidden;
  text-align: center;
}
footer .footer-content .footer-content-info .footer-content-info-r .footer-content-info-qr-code {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0.5rem;
}
footer .footer-content .footer-content-info .footer-content-info-r .footer-content-info-qr-code img {
  width: 100%;
}
footer .footer-content .footer-content-footer {
  text-align: center;
  overflow: hidden;
  margin-top: 0.5rem;
}
.page-shorts-zhe {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #4c4c4d;
  opacity: 0.9;
  z-index: 10;
}
.page-shorts-sub-dialog {
  display: none;
  width: 27rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 11;
  padding: 2.4666rem 1.5rem 3rem 1.5rem;
  background: #313131;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-head {
  font-size: 0.5333rem;
  color: #c4c4c4;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-head .page-shorts-sub-dialog-title {
  color: #ffffff;
  font-size: 0.8rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-head .page-shorts-sub-dialog-time {
  margin-right: 2rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-img {
  margin: 1rem auto 0;
  width: 16.6rem;
  height: 12.4rem;
  position: relative;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-img img {
  width: 100%;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-img .three-d {
  width: 1.333rem;
  height: 1.333rem;
  background: url("../img/three-d.png") no-repeat;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-area,
.page-shorts-sub-dialog .page-shorts-sub-dialog-info {
  color: #c4c4c4;
  font-size: 0.5333rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-area {
  margin: 0.6rem 0 0.8rem 0;
  text-align: center;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-area p {
  display: inline-block;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-info {
  line-height: 0.8rem;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  overflow: hidden;
  z-index: 12;
}
.page-shorts-sub-dialog .page-shorts-sub-dialog-close img {
  width: 100%;
}
.page-login {
  display: none;
  width: 19.333rem;
  padding: 2.7333rem 0 1rem 0;
  z-index: 15;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: #666666;
  background: url("../img/login-bg.png") no-repeat;
  background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}
.page-login .page-login-nav {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.page-login .page-login-nav span {
  display: inline-block;
  line-height: 1rem;
}
.page-login .page-login-nav .page-quest-login {
  color: #222222;
  cursor: pointer;
}
.page-login .page-login-nav .page-password-login {
  color: #888888;
  cursor: pointer;
}
.page-login .page-login-nav .page-login-nav-line {
  width: 0.063rem;
  height: 1.1rem;
  display: inline-block;
  background: #d2d2d2;
  vertical-align: middle;
  margin: 0 0.5rem;
}
.page-login .page-login-form {
  display: block;
}
.page-login .page-register-nav {
  display: none;
  text-align: center;
  margin-bottom: 2rem;
}
.page-login .page-register-nav .page-welcome {
  color: #222222;
  font-size: 0.6666rem;
}
.page-login .page-login-password {
  display: none;
}
.page-login .page-register-form {
  display: none;
}
.page-login .form-horizontal {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.page-login .form-horizontal input {
  margin: 0 auto;
  display: block;
  width: 13.333rem;
  height: 1.93333rem;
  padding: 0.666rem 0;
  background-color: transparent;
  border: 0.0333rem solid transparent;
  border-radius: 0.1333rem;
  border-bottom-color: #ccc;
  font-size: 0.6rem;
}
.page-login .form-horizontal .page-login-getTest {
  display: block;
  margin-top: 0.7rem;
}
.page-login .form-horizontal .page-login-test {
  width: 6.333rem;
  display: inline-block;
}
.page-login .form-horizontal .page-login-get-test {
  padding: 0.5rem 1rem;
  margin: 0 0 0 2.4rem;
  background: #bfbfbf;
}
.page-login .form-horizontal .page-login-login {
  margin-top: 1.5rem;
  width: 13.333rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.86666rem;
  color: white;
  background: #a0a0a0;
}
.page-login .form-horizontal .page-login-hint {
  margin-top: 3.8rem;
  font-size: 0.6rem;
}
.page-login .form-horizontal .page-login-hint .page-login-register {
  color: #222222;
  display: inline-block;
}
.page-login .form-horizontal .page-register-hint {
  margin-top: 1rem;
  margin-bottom: 3.6rem;
}
.page-login .page-login-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  overflow: hidden;
  z-index: 12;
  display: inline-block;
}
.page-login .page-login-close img {
  width: 100%;
}
.page-login .page-return-login {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.6rem;
  height: 1rem;
  overflow: hidden;
  z-index: 12;
  display: none;
}
.page-login .page-return-login img {
  width: 100%;
}
.page-in-animate {
  cursor: default;
  position: relative;
}
.page-in-animate .page-in-animate-bj {
  position: relative;
  top: 0;
}
.page-in-animate .page-in-animate-bj a {
  width: 32.86667rem;
  height: 31.5rem;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  cursor: default;
}
.page-in-animate .page-in-animate-bj a img {
  width: 100%;
  height: 100%;
}
.page-in-animate .page-in-animate-bj .page-in-animate-bj-l {
  left: -53%;
}
.page-in-animate .page-in-animate-bj .page-in-animate-bj-r {
  width: 31.1666rem;
  right: -53%;
}
.page-in-animate .page-in-water .page-in-water-img {
  display: none;
  z-index: 2;
  position: absolute;
  width: 23.7rem;
  height: 12.6rem;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  animation: pageWater 40s linear;
  cursor: default;
}
.page-in-animate .page-in-water .page-in-water-img img {
  width: 100%;
}
.page-in-animate .page-in-animate-content {
  display: none;
  width: 28rem;
  height: 15rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.page-in-animate .page-in-animate-content a {
  position: absolute;
  cursor: default;
}
.page-in-animate .page-in-animate-content a img {
  width: 100%;
  height: 100%;
}
.page-in-animate .page-in-animate-content .page-in-content-yun {
  width: 25rem;
  height: 10rem;
  z-index: 4;
  opacity: 1;
  top: 5rem;
  right: 0;
  animation: pageInY 40s ease-in-out;
}
.page-in-animate .page-in-animate-content .page-in-content-short {
  width: 19.1666rem;
  height: 11.4rem;
  z-index: 2;
  right: 2rem;
  opacity: 1;
  animation: pageShort 20s ease-in-out infinite;
}
.page-in-animate .page-in-text {
  position: absolute;
  left: 20%;
}
.page-in-animate .page-in-text p {
  writing-mode: vertical-lr;
  writing-mode: tb-rl;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}
.page-in-animate .page-in-text .page-in-title {
  font-family: hyChengXingJ;
  font-size: 3.666rem;
  color: #a52604;
}
.page-in-animate .page-in-text .page-in-introduce {
  font-family: hyShangWeiShouShuW;
  font-size: 1.233rem;
  color: #000000;
  letter-spacing: 0.1rem;
}
.page-in-animate .page-in-guo {
  position: absolute;
  left: 16%;
  width: 12.3333rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 25%;
}
.page-in-animate .page-in-guo .page-in-video {
  position: absolute;
  width: 150rem;
  height: 120rem;
  left: 38%;
  top: 38%;
  transform: translate(-45%, -42%);
}
.page-in-animate .page-in-guo .page-in-guo-j {
  position: relative;
  top: 15%;
  display: none;
  width: 21.3333rem;
  height: 12rem;
}
.page-in-animate .page-in-end {
  position: absolute;
  left: 12.5%;
  z-index: 2;
}
.page-in-animate .page-in-end a {
  cursor: default;
  display: none;
  width: 17.4666rem;
  height: 11.9333rem;
}
.page-in-animate .page-in-end a img {
  width: 100%;
}
@keyframes pageShort {
  0% {
    transform: translateX(1rem);
  }
  50% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(1rem);
  }
}
@keyframes pageWater {
  from {
    transform: translate(-50%, 3rem);
  }
  to {
    transform: translate(-50%, -2rem);
  }
}
@keyframes pageInY {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(4rem);
  }
}
